{% load pipeline %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}GameCraft{% endblock %}</title>

    <script type="text/javascript" src="//use.typekit.net/bcb3nvk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{% static 'img/gamecraft-logo-64x64.png' %}"/>
    {% block css %}
    {% stylesheet 'gamecraft' %}
    {% endblock %}

    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}

    {% block script %}
    {% javascript 'gamecraft' %}
    {% endblock %}
  </body>
</html>
