
{% extends "gamecraft/base_gamecraft.html" %}

{% load static %}
{% load tz %}

{% block title %}GameCraft{% endblock %}

{% block body_class %}frontpage{% endblock %}

{% block content %}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><img class="img-responsive" src="{% static 'img/gamecraft-logo-466x479.png' %}"></div>
      <div class="col-md-8">
        <h1>Global GameCraft <small>Connect, Create, Collaborate</small></h1>
        <h2>What is GameCraft?</h2>
        <p>GameCraft is a games jam event designed around building the gaming community. We aim to create events which allow game-makers to meet, share ideas, have fun, compete for prizes and most importantly make games!</p>

        <p>The first Dublin GameCraft took place in February of 2012 in DIT with over 120 attendees producing more than 35 games. Since then Dublin GameCraft has gone from strength to strength with events in GamesFlá Thurles, in Belfast, and even a charity GameCraft for ISPCA.</p>
      </div>
    </div>

  </div>
</section>

{% if global_sponsorships %}
<section class="sponsors">
  <div class="container">
  <h1><span class="glyphicon glyphicon-heart-empty"> Sponsors</h1>
  {% include "gamecraft/sponsor_banner.html" %}
  </div>
</section>
{% endif %}

{% if gamecrafts %}
<section class="gamecrafts">
  <div class="container">
  {% if gamecrafts.started %}
    <h1>On Now!</h1>
    {% for gamecraft in gamecrafts.started %}
      <div class="gamecraft">
        <a href="{% url 'view_gamecraft' gamecraft.slug %}">
          <div class="title">
            <h1>{{gamecraft.title}}</h1>
            <h2>{{gamecraft.location}}</h2>
            {% timezone gamecraft.timezone %}
            <h3>{{gamecraft.starts | date:"l, F n, P T"}}</h3>
            {% endtimezone %}
          </div>
        </a>
      </div>
    {% endfor %}
  {% endif %}

  {% if gamecrafts.upcoming %}
    <h1>Coming Soon</h1>
    {% for gamecraft in gamecrafts.upcoming %}
      <div class="gamecraft">
        <a href="{% url 'view_gamecraft' gamecraft.slug %}">
          <div class="title">
            <h1>{{gamecraft.title}}</h1>
            <h2>{{gamecraft.location}}</h2>
            {% timezone gamecraft.timezone %}
            <h3>{{gamecraft.starts | date:"l, F n, P T"}}</h3>
            {% endtimezone %}
          </div>
        </a>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</section>
{% endif %}

{% endblock %}
