{% extends "gamecraft/base_gamecraft.html" %}

{% load markdown %}
{% load static %}
{% load tz %}

{% block title %}
  GameCraft News
{% endblock title %}

{% block body_class %}news{% endblock %}

{% block content %}
<div class="container">
    <section>
      <h1><span class="glyphicon glyphicon-globe"></span> GameCraft News</h1>
      <div>
        {% regroup all_news by published.year as news_by_year%}
        {% for year in news_by_year %}
        <div>
          <h2>{{year.grouper}}</h2>
          {% for news in year.list %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a href="{% url 'view_news' news.published.year news.published.month news.published.day news.slug %}">{{news.title}}</a> <small>{{news.published | date:"l N jS" }}</small></h3>
              </div>
              <div class="panel-body">
                <p>{{news.content | markdown | truncatewords_html:20}}</p>
              </div>
              <div class="panel-footer">
                <p><a href="{% url 'view_news' news.published.year news.published.month news.published.day news.slug %}">Read more.</a></p>
                {% if news.gamecraft %}
                <p><span class="glyphicon glyphicon-tower"></span> Read more about <a href="{% url 'view_gamecraft' news.gamecraft.slug %}">{{news.gamecraft.title}}</a></p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </section>
</div>
{% endblock %}
