{% extends "gamecraft/base_gamecraft.html" %}

{% block title %}GameCraft Privacy and Legal Statements{% endblock %}

{% block content %}
<div class="container">
<h1>Privacy</h1>
<p>GameCraft respects the privacy of sponsors, helpers, event participants and visitors to this site. We make every attempt to avoid keeping personal identifying information. We may use tools such as ticket sales tools which keep some identifying information but access to these is restricted to core GameCraft staff.</p>

<h2>Cookies</h2>
<p>As part of some monitoring and measurement tools this website may set cookies in your browser. The underlying web framework (Django) may also set some cookies. Expect to see some cookies from New Relic, TypeKit and CloudFlare. GameCraft doesn't track users for advertising purposes or any other reason than performance monitoring and security. If these tools had the option to turn off cookies and remain useful we'd do it :)</p>

<p>See the <a href="{% url 'colophon' %}">site colophon</a> for more details on how this site is put together and tools used.</p>

<h1>Ownership</h1>
<p>All games and content produced during GameCraft events remains the full property of their creators. GameCraft makes no claim to anything participants create. When you take part in GameCraft events you own everything you create.</p>

<p>All trademarks remain property of their respective owners.</p>

</div>
{% endblock %}