{% extends "gamecraft/base_gamecraft.html" %}

{% load account %}
{% load socialaccount %}
{% get_social_accounts user as accounts %}

{% block content %}
  <div class="container">
    <p>Hi there {{user}}</p>
    <p>{% user_display user %}</p>
    <p>Twitter: {{accounts.twitter}}</p>
    <p>GitHub: {{accounts.github}}</p>
    <p>BitBucket: {{accounts.bitbucket}}</p>
    <p><a href="{% url 'socialaccount_connections' %}">Connect or disconnect accounts</a></p>
    <p><a href="{% url 'account_logout' %}">Sign Out</a></p>
  </div>
{% endblock %}