{% extends "gamecraft/base_gamecraft.html" %}

{% load markdown %}
{% load static %}
{% load tz %}

{% block title %}
  {{news.title}}
{% endblock title %}

{% block body_class %}news{% endblock %}

{% block content %}
<div class="container">
  <section>
    <h1><span class="glyphicon glyphicon-globe"></span> {{news.title}} <small>{{news.published | date:"l N jS Y" }}</small></h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
            {{news.content | markdown}}
        </div>
        {% include "gamecraft/includes/disqus_comments.html" %}
      </div>
      {% if news.gamecraft %}
        <div class="panel-footer">
          {% if news.gamecraft %}
          <p><span class="glyphicon glyphicon-tower"></span> Read more about <a href="{% url 'view_gamecraft' news.gamecraft.slug %}">{{news.gamecraft.title}}</a></p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
