{% extends "gamecraft/base_gamecraft.html" %}

{% load markdown %}
{% load static %}
{% load tz %}

{% block title %}
  {{news.title}}
{% endblock title %}

{% block body_class %}news{% endblock %}

{% block content %}
<div class="container">
  <section>
    <h1><span class="glyphicon glyphicon-globe"></span> {{news.title}} <small>{{news.published | date:"l N jS Y" }}</small></h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
            {{news.content | markdown}}
        </div>
        <div>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            {% verbatim %}
            var disqus_shortname = 'gamecraftit';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            {% endverbatim %}
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
      {% if news.gamecraft %}
        <div class="panel-footer">
          {% if news.gamecraft %}
          <p><span class="glyphicon glyphicon-tower"></span> Read more about <a href="{% url 'view_gamecraft' news.gamecraft.slug %}">{{news.gamecraft.title}}</a></p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
