{% extends "gamecraft/base_gamecraft.html" %}

{% load markdown %}
{% load static %}
{% load tz %}

{% block title %}
  {{gamecraft.title}}
{% endblock title %}

{% block body_class %}gamecraft{% endblock %}

{% block content %}
{# <div class="banner" style="{% if gamecraft.background %}background-image: url({% url 'view_gamecraft_background' slug=gamecraft.slug %}){% endif %}"> #}
<div class="banner">
  <div class="title">
    <div class="row">
      <div class="col-md-2 logo">
        <img src="{% static 'img/gamecraft-logo-466x479.png' %}" title="GameCraft">
      </div>
      <div class="col-md-10">
        <h1>{{gamecraft.title}}</h1>
        <h2>{{gamecraft.location}}</h2>
        {% timezone gamecraft.timezone %}
        <h3>{{gamecraft.starts | date:"l, F j, P"}} to {{gamecraft.ends | date:"P T"}}</h3>
        {% endtimezone %}
      </div>
    </div>
  </div>
</div>

{% if global_sponsorships or gamecraft_sponsorships %}
<section class="sponsors">
  <div class="container">
  <h1><span class="glyphicon glyphicon-heart-empty"></span> Sponsors</h1>
  {% include "gamecraft/sponsor_banner.html" %}
  </div>
</section>
{% endif %}

{% if gamecraft.show_theme %}
<section class="theme">
  <div class="container">
    <h1><span class="glyphicon glyphicon-tower"></span> Theme</h1>
    <div class="center-block">
      {{gamecraft.theme|markdown}}
    </div>
  </div>
</section>
{% endif %}

<section class="description">
  <div class="container">
    {{gamecraft.content|markdown}}
  </div>
</section>

{% if gamecraft.judges %}
<section class="judges">
  <div class="container">
    <h1><span class="glyphicon glyphicon-eye-open"></span> Judges</h1>
    {{gamecraft.judges|markdown}}
  </div>
</section>
{% endif %}

{% if gamecraft.published_news %}
<section class="news">
  <div class="container">
    <h1><span class="glyphicon glyphicon-globe"></span> News</h1>
    {% for news in gamecraft.published_news %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="{% url 'view_news' news.published.year news.published.month news.published.day news.slug %}">{{news.title}}</a> <small>{{news.published | date:"l N jS" }}</small></h3>
        </div>
        <div class="panel-body">
          <p>{{news.content|markdown}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}

<section class="map">
<div class="container">
  <h1><span class="glyphicon glyphicon-map-marker"></span> Where</h1>
  <h2>{{gamecraft.location}}</h2>
</div>
{% if gamecraft.location_latitude %}
<div id="map"></div>
{% endif %}
</section>

{# <div class="container"> #}
  {# {% if perms.gamecrafts.modify_gamecraft %} #}
  {# <p><a href="{% url 'edit_gamecraft' slug=gamecraft.slug %}">Edit</a></p> #}
  {# {% endif %} #}
{# </div> #}
{% endblock content %}

{% block script %}
{{ block.super }}
{% if gamecraft.location_latitude %}
<script type="text/javascript">
  L.Icon.Default.imagePath = "{% static 'js/images' %}";
  var map = L.map('map', {dragging: false, scrollWheelZoom: false}).setView([{{gamecraft.location_latitude}}, {{gamecraft.location_longitude}}], 17);
  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
    maxZoom: 18
  }).addTo(map);
  var marker = L.marker([{{gamecraft.location_latitude}}, {{gamecraft.location_longitude}}]).addTo(map);
  // marker.bindPopup("{{gamecraft.location}}");
</script>
{% endif %}
{% endblock script %}