{% extends "gamecraft/gamecraft/base.html" %}

{% load markdown %}
{% load static %}
{% load tz %}

{% block title %}
  Ghosts of GameCraft Past and Future
{% endblock title %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="GameCraft Events RSS Feed" href="{% url 'gamecraft_rss' %}">
{% endblock %}

{% block body_class %}gamecrafts{% endblock %}

{% block content %}
{% if gamecrafts %}
<section class="gamecrafts">
  <div class="container">
    {% if gamecrafts.started %}
      <h1>On Right Now!</h1>
      {% for gamecraft in gamecrafts.started %}
        {% include "gamecraft/includes/gamecraft.summary.html" %}
      {% endfor %}
    {% endif %}

    {% if gamecrafts.upcoming %}
      <h1>Upcoming GameCrafts</h1>
      {% for gamecraft in gamecrafts.upcoming %}
        {% include "gamecraft/includes/gamecraft.summary.html" %}
      {% endfor %}
    {% endif %}

    {% if gamecrafts.finished %}
      <h1>Past GameCrafts</h1>
      {% for gamecraft in gamecrafts.finished %}
        {% include "gamecraft/includes/gamecraft.summary.html" %}
      {% endfor %}
    {% endif %}
  </div>
</section>
{% else %}
<section>
  <p>Wow, no GameCrafts? You must be looking at a site without a working database!</p>
</section>
{% endif %}
{% endblock content %}
