boto
dj-database-url
Django<1.9.0  # looks like pipelines needs to be upgraded first
django-appconf
django-debug-toolbar
django-ical
django-pipeline<1.6.0  # requires a config update
django-redis-cache
gunicorn
iso8601
Markdown
mock
Pillow
pip-tools
prometheus_client
psycopg2
pytz
raven
redis
requests
static
static3
WebOb