boto
dj-database-url
django-appconf
django-debug-toolbar
django-ical
django-pipeline
django-redis-cache
Django
gunicorn
iso8601
Markdown
mock
Pillow
pip-tools
psycopg2
pytz
raven
redis
requests
static
static3