dj-database-url==0.3.0
django-allauth==0.18.0
django-appconf==0.6
django-debug-toolbar==1.2.1
django-imagekit==3.2.4
django-pipeline==1.3.25
django-redis==3.7.1
Django==1.7
docutils==0.12
futures==2.2.0
git+https://github.com/kennethreitz/dj-static.git@b02979384d7c7a6944375c5959224bff40c2035a#egg=dj-static
gunicorn==19.1.1
https://bitbucket.org/micktwomey/django-ical/get/719e3c6e60ca.zip#egg=django-ical
icalendar==3.8.3
iso8601==0.1.10
Markdown==2.5.1
mongoengine==0.8.7
oauthlib==0.6.3
pilkit==1.1.12
Pillow==2.6.0
psycopg2==2.5.4
pymongo==2.7.2
pystache==0.5.4
python3-memcached==1.51
python3-openid==3.0.4
pytz==2014.7
PyYAML==3.11
raven==5.0.0
redis==2.10.3
requests-oauthlib==0.4.1
requests==2.4.3
simplejson==3.6.4
six==1.8.0
sqlparse==0.1.12
static3==0.5.1
static==1.1.0