---
ADMINS:
  - ["Michael Twomey", "mick@twomeylee.name"]
  - ["Vicky Lee", "whykay@gmail.com"]
SECRET_KEY: {{gamecraft_secret}}
DEBUG: false
TEMPLATE_DEBUG: false
PREPEND_WWW: true
USE_X_FORWARDED_HOST: true
ALLOWED_HOSTS:
  - localhost
  - 127.0.0.1
  - .gamecraft.it
  - gamecraft.it
  - www.gamecraft.it
  - .twomeylee.name
STATICFILES_FINDERS:
  - pipeline.finders.FileSystemFinder
  - pipeline.finders.AppDirectoriesFinder
  - pipeline.finders.PipelineFinder
  - pipeline.finders.CachedFileFinder
STATICFILES_DIRS:
  - /gamecraft/static/
STATIC_ROOT: /gamecraft/static/
