---
- name: Install jq
  apt: pkg=jq state=present

- name: Create volume folder structure
  file: dest={{ item.dest }} state=directory
  with_items:
    - dest: /gamecraft/config
    - dest: /gamecraft/logs
    - dest: /gamecraft/uploads
    - dest: /gamecraft/backups
  tags:
    - gamecraft

- name: Write out gamecraft django.yml
  template: src=django.yml.j2 dest=/gamecraft/config/django.yml mode=0644
  tags:
    - config
    - gamecraft
  notify:
    - Restart gamecraft

- name: Check for old GameCraft versions
  shell: >
    docker inspect gamecraft 2>/dev/null | jq --raw-output '.[0].Config.Image // "{{gamecraft_image}}"'
  register: current_version
  tags:
    - gamecraft
    - upgrade

- name: Stop old GameCraft
  docker: >
    image={{current_version.stdout}}
    name=gamecraft
    state=killed
  when: current_version.stdout != gamecraft_image
  tags:
    - gamecraft
    - upgrade

- name: Remove old GameCraft
  command: docker rm gamecraft
  when: current_version.stdout != gamecraft_image
  tags:
    - gamecraft
    - upgrade

- name: Ensure gamecraft is started
  docker: >
    image={{gamecraft_image}}
    name=gamecraft
    state=running
    links={{gamecraft_links}}
    volumes={{gamecraft_volumes}}
  tags:
    - gamecraft
    - docker
  notify:
    - restart varnish
