---
# Trigger a backup
- hosts: gamecraft.twomeylee.name
  tasks:
  # - name: Postgresql Dump
  #   docker: >
  #     command='/usr/bin/pg_dump --user=docker --host=postgresql --create --encoding=UTF-8 --file=/gamecraft/backups/gamecraft.sql gamecraft'
  #     image=micktwomey/postgresql
  #     detach=False

  - name: django-admin dumpdata all
    command: >
      docker run --rm -i -t --link postgresql:postgresql -v /gamecraft/backups:/gamecraft/backups --entrypoint=/bin/bash {{gamecraft_image}} -c "django-admin dumpdata --indent=2 --format=json --natural-foreign --natural-primary > /gamecraft/backups/all.json"

  - name: django-admin dumpdata gamecrafts
    command: >
      docker run --rm -i -t --link postgresql:postgresql -v /gamecraft/backups:/gamecraft/backups --entrypoint=/bin/bash {{gamecraft_image}} -c "django-admin dumpdata --indent=2 --format=json --natural-foreign --natural-primary gamecrafts > /gamecraft/backups/gamecrafts.json"

  - name: django-admin dumpdata site data
    command: >
      docker run --rm -i -t --link postgresql:postgresql -v /gamecraft/backups:/gamecraft/backups --entrypoint=/bin/bash {{gamecraft_image}} -c "django-admin dumpdata --indent=2 --format=json --natural-foreign --natural-primary auth.user sites.site socialaccount > /gamecraft/backups/site_data.json"

  - name: Tar uploads
    command: tar -C /gamecraft -zcf /gamecraft/backups/uploads.tar.gz uploads

  - name: rsync backups locally
    synchronize: >
      mode=pull src=/gamecraft/backups/ dest=../../backups/
      delegate_to: delegate.host
