@import "bootstrap.less";

/* http://www.colourlovers.com/palette/1473/Ocean_Five */
@invisible_ufo: rgb(0,160,176);
@caribic_brown: rgb(106,74,60);
@caribic_red: rgb(204,51,63);
@caribic_sun: rgb(235,104,65);
@caribic_daylight: rgb(237,201,81);

@normal-color: #333;
@normal-background-color: #fff;

@event-color: #333;
// @event-background-color: rgb(215, 238, 233);
// @event-background-color: rgb(200, 200, 200);
@event-background-color: #fff;

@sponsors-background-color: #EDC951;
@about-background-color: #EB6841;

@font-family-sans-serif:  "museo-slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@headings-font-family: "museo",sans-serif;
@headings-font-weight: 500;

@font-size-base: 16px;

.filter(@arguments) {
    -webkit-filter: @arguments;
       -moz-filter: @arguments;
        -ms-filter: @arguments;
         -o-filter: @arguments;
}

/*Sticky footer from http://getbootstrap.com/examples/sticky-footer/*/
html {
    position: relative;
    min-height: 100%;
}

body {
    // background-color: #aaa;
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    padding-top: 10px;
    color: #888;
    background-color: #fff;
}

.navbar {
    margin-bottom: 0;
}

.frontpage {

    section {
        // box-shadow: inset 0 0 50px rgba(0,0,0,.2);
    }

    section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .banner {
        .gamecraft-colours(@gamecraft-title-colour);
    }

    .gamecrafts {
        .gamecraft {
            text-align: center;
            width: 100%;
            padding: 1em;
            .gamecraft-colours(@gamecraft-title-colour);

            .title {
                min-height: 200px;
                // box-shadow: inset 0 0 10px rgba(0,0,0,.2);

                h1 {
                    margin: 0;
                    font-size: 72pt;
                }
            }

            .info {
                position: absolute;
                bottom: 0;
                width: 100%;

                background-color: rgba(0,0,0,0.5);
                &:hover {
                    background-color: rgba(255,255,255,0.5);
                }
            }
        }

    }
}

@gamecraft-section-min-height: 40em;


@gamecraft-dark-colour: #333;
@gamecraft-light-colour: #fff;
@gamecraft-title-colour: @caribic_daylight;
@gamecraft-title-footer-colour: @caribic_sun;
@gamecraft-description-colour: #fff;
@gamecraft-theme-colour: @invisible_ufo;
@gamecraft-judges-colour: @caribic_brown;
@gamecraft-map-colour: @caribic_red;


.gamecraft-colours(@colour) {
    color: contrast(@colour, @gamecraft-dark-colour, @gamecraft-light-colour);
    background-color: @colour;
}

.gamecraft {
    .banner {
        position: relative;
        text-align: center;
        .gamecraft-colours(@gamecraft-title-colour);
        background-repeat: no-repeat;
        background-size: 100%;
        box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
        width: 100%;
        // .filter(blur(5px) saturate(50%));

        .title {
            // text-shadow:
            //     -0.1em -0.1em fadeout(@event-background-color, 70%),
            //     -0.4em -0.4em #bbb;
            width: 100%;
            padding: 2em;
            padding-bottom: 6em;
            .gamecraft-colours(@gamecraft-title-colour);
            // background-color: fade(@gamecraft-title-colour, 20%);

            h1 {
                font-size: 72pt;
            }

            .logo {
                img {
                    width: 200px;
                    height: auto;
                }
            }

        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            // min-height: 4em;
            margin: 0;
            padding: 1em;
            .gamecraft-colours(@gamecraft-title-footer-colour);

            p {
                margin: 0;
            }
        }
    }

    .description {
        // min-height: @gamecraft-section-min-height;
        .gamecraft-colours(@gamecraft-description-colour);
    }

    .judges {
        // min-height: @gamecraft-section-min-height;
        .gamecraft-colours(@gamecraft-judges-colour);
    }

    .theme {
        .gamecraft-colours(@gamecraft-theme-colour);
    }

    .map {
        width: 100%;
        .gamecraft-colours(@gamecraft-map-colour);

        #map {
            min-height: @gamecraft-section-min-height;
        }
    }

    section {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}
